# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency files and directories
node_modules/
# These should be explicitly committed if we want to lock versions
package.json
package-lock.json

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable file
.env
!docker/.env

# VS Code config
.vscode/

# Generated Graph types
generated/

# Temp
tmp/

# Build
build/

# Hardhat cache
cache/

# Generated subgraph manifest and addresses
subgraph.yaml
addresses.ts

# User dotenv
docker/custom.env

# Non-explicitly-committed tests
test/